.venv/
env
__pycache__
static/dungeon.png
output/dungeon.png
output/walls.csv
output/fillings.csv
snappoints.txt
TS_Save_7.json
output/rooms.csv
output/intersect.csv
output/hallwaySegments.csv
output/fillings.csv
output/*.json
