<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Profile</title>
	</head>
	<body class="loggedin">
		<div class="generator-container">
			<h1>{{ account['username'] }}'s Profile</h1>
                <div>
                    <p>Saved Dungeons</p>
					<p>{{ dungeons }}</p>
                    <table>
                        
						
                    </table>
                </div>
		</div>
        <div>
            <a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i>Logout</a>
        </div>
	</body>
</html>