<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
		<meta charset="utf-8">
		<title>Register</title>
	</head>
	<body>
		<div class="container">
			<nav>
				<div class="site-name">Dun-Gen</div>
				<a href="/about">About</a>
				<a href="/">Generator</a>
				{% if session['loggedin'] %}
                <a href="/profile">Profile</a>
                {% else %}
                <a href="/login">Login</a>
                {% endif %}

			</nav>
			<div class="register">
				<form action="{{ url_for('register') }}" method="post" autocomplete="off" class = "form-container">
					<label for="username">
						<i class="fas fa-user"></i>
					</label>
					<input type="text" name="username" placeholder="Username" id="username" required>
					<label for="password">
						<i class="fas fa-lock"></i>
					</label>
					<input type="password" name="password" placeholder="Password" id="password" required>
					<label for="email">
						<i class="fas fa-envelope"></i>
					</label>
					<input type="email" name="email" placeholder="Email" id="email" required>
					<div class="msg">{{ msg }}</div>
					<input type="submit" value="Register">
				</form>

				<div class="links" style="text-align: center;">
					<p>Already have an account?<br>
					<a href="{{ url_for('login') }}">Login here</a>
				</div>
			</div>
		</div>
	</body>
</html>